* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  font-family: "AvenirNextRegular", Helvetica, sans-serif;
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("embedded-opentype"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "AvenirNextBold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("embedded-opentype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
}
/* Logos & Images */
img {
  width: 100%;
}

/* All Text Styles (text size, line height, text weight) */
.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .page-header {
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-family: AvenirNextBold;
  }
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirNextBold;
  }
}

.subheader {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.subheader__silver {
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .subheader__bold {
    font-family: AvenirNextBold;
  }
}

.body-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .body-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.body-copy__silver {
  color: #afafaf;
}

.label-button {
  font-size: 0.75rem;
  padding-right: 2.109rem;
  line-height: 1.25rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .label-button {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.label-button__upload-mobile {
  color: #0095ff;
  margin: 2rem 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .label-button__upload-mobile {
    display: none;
  }
}
.label-button__upload-tablet {
  color: #0095ff;
  margin: 1.5rem 0 1.5rem 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .label-button__upload-tablet {
    display: block;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .label-button__upload-tablet {
    margin: 0;
  }
}
.label-button__delete {
  padding-right: 0.25rem;
}

hr {
  height: 0.063rem;
  background-color: #e1e1e1;
  border: none;
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  hr {
    margin: 1.5rem 0 1.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  hr.hr__removed-desktop {
    height: 0.263rem;
    display: none;
  }
}
hr.hr__removed-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  hr.hr__removed-mobile {
    display: block;
    margin: 0 0 1.5rem 0;
  }
}
hr.hr__upload {
  margin: 0;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 9.375rem;
  padding-left: 0.2rem;
  height: 2.5rem;
  background-color: #0095ff;
  color: #ffffff;
  border-radius: 0.25rem;
  border-width: 0;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .button {
    width: 9.375rem;
  }
}
.button__delete_comment {
  font-size: 0.75rem;
  text-align: center;
}
.button__icon {
  height: 100%;
  max-height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.5rem;
}

.button:hover {
  background-color: #0065ad;
}/*# sourceMappingURL=global.css.map */